.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .form-input:focus {
    outline: none;
    border-color: rgb(253, 215, 0);
    box-shadow: 0 0 5px #ffe604;
  }
  .form-button {
    background-color: rgb(253, 215, 0);
    color: #000000;
    border: 1px solid #070707;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  .form-button:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgb(240, 224, 133);
    color:rgb(5, 5, 5);
    text-decoration: none;
  }

