
.resumenCarrito{
max-width: 540px;
font-family: 'Caveat', cursive;
font-family: 'Geologica', sans-serif;
font-family: 'Oswald', sans-serif;
}

.col-md-8{
    background-color: rgb(218, 218, 218);
    border: 1px solid #000000;
}

.col-md-4{
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
}

