.card{
    width: 18rem;
}

.botonIrCarrito{
  border: 2px solid rgb(0, 0, 0);
  background-color:rgb(253, 215, 0) ;
  color: black;
  text-decoration: none;
  margin: 0 7px;
}

.botonIrCarrito:hover{
    color: rgb(59, 59, 59);
    background-color:rgb(250, 225, 85) ;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.subrayado{
  text-decoration: underline;
}

.infoDescripcion{
  font-weight: 600;
}


.botonTienda{
  border: 2px solid rgb(0, 0, 0);
  background-color:rgb(253, 215, 0) ;
  color: black;
  text-decoration: none;
  margin: 0 6px;
}

.botonTienda:hover{
  color: rgb(59,59,59);
  background-color:rgb(250, 225, 85) ;
}

.card-img-top{ 
  width: 45%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 45%; /* Asegura que la imagen ocupe todo el alto del contenedor */
  object-fit:contain
  
}