
.App {
  height: 103vh;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: x-large; 
  background-image: url(fondo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid{
  position: relative;
   bottom: 11px;
   font-family: 'Caveat', cursive;
   font-size: x-large;
   
}

.nav-item{
  color: white;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  
}


.nav-link{
  color:white !important;
}

.nav-link:hover{
  color:rgb(253, 215, 0) !important;
}



.navbar-brand{
  color: rgb(253, 215, 0) !important;
  font-family: 'Caveat', cursive !important;
  font-size: x-large !important;
}

.navbar-brand:hover{
  color: rgb(255, 227, 71) !important;
  
}

.navbar-nav{
  position: relative;
  left: 490px;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  
}


.card{
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Caveat', cursive;
font-family: 'Geologica', sans-serif;
font-family: 'Oswald', sans-serif;
}

.CardItem{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px; 
}