.App {
  text-align: center;
  font-family: 'Caveat', cursive;
   font-size: x-large; 
}

.container-fluid{
  position: relative;
   bottom: 11px;
   font-family: 'Caveat', cursive;
   font-size: x-large;
}

.nav-item{
  color: white;
  font-family: 'Caveat', cursive;
  font-size: x-large;
}


.nav-link{
  color:white !important;
}

.nav-link:hover{
  color:rgb(253, 215, 0) !important;
}



.navbar-brand{
  color: rgb(253, 215, 0) !important;
  font-family: 'Caveat', cursive !important;
  font-size: x-large !important;
}

.navbar-brand:hover{
  color: rgb(255, 227, 71) !important;
  
}

.navbar-nav{
  position: relative;
  left: 490px;
  font-family: 'Caveat', cursive;
  font-size: x-large;
  
}

.bienvenida{
  text-shadow: 2px 2px rgb(253, 215, 0);
}

.card{
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.CardItem{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px; 
}